<div class=temperature-container>
  <div class="value-circle-card-container">

    <md-card class="value-circle-card">
      <md-card-header>
        <md-icon md-card-avatar class="value-circle-card-icon"
          svgIcon="temperature-icon">
        </md-icon>
        <md-card-title>Temperature actuelle</md-card-title>
        <md-card-subtitle *ngIf="currentDate">{{ currentDate | date:'HH:mm:ss' }}</md-card-subtitle>
      </md-card-header>
      <md-card-content class="value-circle-card-content">
        <div>
          <app-value-circle
          [valueCircleConfig]="currentValueCircleConfig"
          [valueToDisplay]="currentValue">
          </app-value-circle>
        </div>
        <div class="value-circle-card-label">
          {{ currentValue }}{{ measurementUnitTemperature }}
        </div>
      </md-card-content>
    </md-card>

    <md-card class="value-circle-card">
      <md-card-header>
        <md-icon md-card-avatar class="value-circle-card-icon"
          svgIcon="temperature-icon">
        </md-icon>
        <md-card-title>Temperature Minimum</md-card-title>
        <md-card-subtitle *ngIf="minDate">{{ minDate | date:'HH:mm:ss' }}</md-card-subtitle>
      </md-card-header>
      <md-card-content class="value-circle-card-content">
        <div>
          <app-value-circle
          [valueCircleConfig]="minValueCircleConfig"
          [valueToDisplay]="minValue">
          </app-value-circle>
        </div>
        <div class="value-circle-card-label">
          {{ minValue }}{{ measurementUnitTemperature }}
        </div>
      </md-card-content>
    </md-card>

    <md-card class="value-circle-card">
      <md-card-header>
        <md-icon md-card-avatar class="value-circle-card-icon"
          svgIcon="temperature-icon">
        </md-icon>
        <md-card-title>Temperature Maximum</md-card-title>
        <md-card-subtitle *ngIf="maxDate">{{ maxDate | date:'HH:mm:ss' }}</md-card-subtitle>
      </md-card-header>
      <md-card-content class="value-circle-card-content">
        <div>
          <app-value-circle
          [valueCircleConfig]="maxValueCircleConfig"
          [valueToDisplay]="maxValue">
          </app-value-circle>
        </div>
        <div class="value-circle-card-label">
          {{ maxValue }}{{ measurementUnitTemperature }}
        </div>
      </md-card-content>
    </md-card>

    <md-card class="value-circle-card">
      <md-card-header>
        <md-icon md-card-avatar class="value-circle-card-icon"
          svgIcon="temperature-icon">
        </md-icon>
        <md-card-title>Temperature Moyenne</md-card-title>
        <md-card-subtitle *ngIf="averageDate">calculée à {{ averageDate | date:'HH:mm:ss' }}</md-card-subtitle>
      </md-card-header>
      <md-card-content class="value-circle-card-content">
        <div>
          <app-value-circle
          [valueCircleConfig]="averageValueCircleConfig"
          [valueToDisplay]="averageValue">
          </app-value-circle>
        </div>
        <div class="value-circle-card-label">
          {{ averageValue }}{{ measurementUnitTemperature }}
        </div>
      </md-card-content>
    </md-card>

  </div>

  <div class="chart-card-container">
    <md-card class="chart-card">
      <md-card-header>
        <md-card-title>Temperatures</md-card-title>
        <md-card-subtitle>Real time values</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <app-chart
          [currentValue]="currentValue"
          [currentDate]="currentDate">
          </app-chart>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
