<md-toolbar class="app-md-toolbar">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
  <span>Weather station</span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav
      #sidenav
      mode="menuMode"
      class="app-sidenav">
    <div>Sidenav</div>
    <div>Sidenav</div>
    <div>Sidenav</div>
  </md-sidenav>

  <div class="value-circle-card-container">
    <md-card class="value-circle-card">
      <md-card-header>
        <md-card-title>Température minimale</md-card-title>
        <md-card-subtitle>06:25:37</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <app-value-circle></app-value-circle>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="value-circle-card">
      <md-card-header>
        <md-card-title>Température actuelle</md-card-title>
      </md-card-header>
      <md-card-content>
        <div>
          <app-value-circle></app-value-circle>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="value-circle-card">
      <md-card-header>
        <md-card-title>Température maximale</md-card-title>
        <md-card-subtitle>14:57:10</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <app-value-circle></app-value-circle>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="chart-card-container">
    <md-card class="chart-card">
      <md-card-header>
        <md-card-title>Temperatures</md-card-title>
        <md-card-subtitle>Real time values</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <app-chart></app-chart>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-sidenav-container>
