.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-md-toolbar {
  color: #10C4B5;
  background-color: #1C2B36;
}

.mat-card-header {
  margin-bottom: 24px;
}

.mat-card-header .mat-card-title {
  font-size: 24px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 16px;
}

.value-circle-card {
  width: 200px;
  margin: 10px;
}

.value-circle-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chart-card {
  width: 800px;
  margin: 10px;
}
