/* You can add global styles to this file, and also import other style files */

$dark-background : #21232F;
$dark-background-selected : #1B1C21;
$grey-background : #EDEFEE;
$blue : #30CAE4;
$light-blue : #B7EEF5;
$dark-blue : #198498;
